@using ASPMainProject.Models
@model ASPMainProject.Models.Ad
<div class="container">
    <div class="col-sm-12, row">
        <h2>@Model.Position <small><a href="@Url.Action("DetailsForm", "Ad", new { adId = Model.Id })">Edit</a></small> </h2>
        <p><b>Creation date:</b> @Model.CreationDate         
            @if (Model.ActualState == ActualState.Actual)
            {
                <span class="label label-success">
                    @Model.ActualState
                </span>
            }
            else
            {
                <span class="label label-danger">
                    @Model.ActualState
                </span>
            }
        </p>
        <div class="main-profile-details">
            <p><b>Location: </b>@Model.Location</p>
            <p><b>Salary per month:</b> $@Model.SalaryPerMonth </p>
            <p><b>Company:</b> @Model.Company</p>
        </div>
    </div>
    <div class="col-sm-12, row">
        <hr />
        <h3>Details:</h3>
        <p class="before-hint">@Model.Content
<p>
            <b>Author:</b>
            <a href="@Url.Action("Details", "Employer", new { id = Model.AuthorId})">@Model.AuthorFullName</a>
        </p>
        <p>
            @if (Model.KeyWords != null)
            {
                foreach (var elem in Model.KeyWords)
                {
                    <span class="label label-info" style="margin:2px">
                        @elem.Value
                    </span>
                }
            }
        </p>
        <hr>
        @*@if (Session["Role"] == "employer")
            {*@
        @using (Html.BeginForm("SendMessageTo", "Message", FormMethod.Post, new { @class = "js-profile-form form-horizontal", role = "form" }))
        {
            @Html.Hidden("receiverId", @Model.AuthorUserId);
            <h4>You can respond here:</h4>
            <div class="col-sm-10">
                <div class="form-group">
                    @Html.TextArea("messageText", new
               {
                   @class = "form-control",
                   @rows = "9",
                   maxlength = "750",
                   @placeholder = "Are you interested in this proposition? Just write a cover letter here!"
               })
                </div>
                <button class="btn btn-success btn-lg" name="contact" id="send-btn" data-loading-text="Sending...">
                    Send respond
                </button>
            </div>
        }
        @*}*@
    </div>
</div>
